<div class="container">

    <h1>ADD USERS</h1>
    <form>
        <div class="form-group">
          <label >FirstName</label>
          <input type="text" class="form-control"  placeholder="FirstName">
          <label >LastName</label>
          <input type="text" class="form-control"  placeholder="LastName">
          <label >Email</label>
          <input type="email" class="form-control"  placeholder="Email">
          <label >Job</label>
          <input type="text" class="form-control"  placeholder="Job">
          <label >Phone number</label>
         <input type="tel" class="form-control"  placeholder="number">
        </div>
        <button class="btn btn-primary">add</button>
      </form>

</div>