div{
    margin-top: 10%;
    border-radius: 2%;
 

    
    

   
}
form{
    
    margin-left: 5%;
}

input{
    width: 25%;

}


h1{
    position: relative;
    display: flex;
    justify-content: center;
    left: 100px;
    margin-top: 5%;
}

button{
    position: relative;
    display: flex;
    justify-content: center;
    right: -2%;
    width: 20%;
    top: 10px;
}

/* .logo{
  
        position: relative;
        display: flex;
        justify-content: center;
        right: -2%;
        width: 20%;
        top: 10px;
    
} */
.validator{
    font-size:medium;
    color: red;
}


/* Responsibe mobile */

@media (max-width: 428px) {
    div{
 
     
        position: relative;
        left: -5px ;
        
        font-size: medium;
    
       
    }
    input{
        width: 100%;
    
    }
    button{
        position: relative;
        display: flex;
        justify-content: center;
        left: 25%;
        width: 50%;
        top: 10px;
    }
    
  }