<div>
    

  <form [formGroup]="formUser" (ngSubmit)="postUsers()">
    
      <div class="form-group">
        <label for="FirstName">FirstName</label>
        <input type="text" class="form-control is-invalid" formControlName="FirstName" required maxlength="10">
        <!-- <p *ngIf="formUser.get('FirstName')?.touched" ngClass="validator" >Please FirstName required.</p> -->
    
        <label for="LastName">LastName</label>
        <input type="text" class="form-control is-invalid" formControlName="LastName" required maxlength="25">
    
      
        <label for="Email">Email</label>
        <input type="email" class="form-control is-invalid" formControlName="Email" required email maxlength="25">

    
        <label for="Job">Job</label>
        <input type="text" class="form-control is-invalid" formControlName="Job" required maxlength="25">
        
        <label for="Phone">Phone</label>
        <input type="number" class="form-control is-invalid" formControlName="Phone" required pattern="[0-9]+" placeholder="input numbers"minlength="10" maxlength="10">
      
        
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="formUser.invalid">ADD USER</button>
      
    </form>
    <img src="https://icons8.com/icon/AngkmzgE6d3E/github" alt="">
</div>

