div{
    position: relative;
    width: max-content;
    left: 25%;
    margin-top: -21.5%;
    /* border-color: aliceblue;
    border-style: solid; */
   
   
}

form{
    position: absolute;
    top: -20%;
    display: flex;
    right: -0%;
    width: 100%;
    
}

button{
  font-size: 100%;
 
}

.delete{
    color: red;
}