div{
    position: relative;
    width: max-content;
    left: 25%;
    margin-top: -21.5%;
    /* border-color: aliceblue;
    border-style: solid; */
    
   
 
}

input{
    position: absolute;
    top: -32%;
    display: flex;
    right: -0%;
    width: 100%;
    
}

button{
  font-size: 100%;
  
}

.delete{
    color: red;
}

@media (max-width: 851px) {
    div{
       
        position: fixed;
        width: 100%;
        height: max-content;
        left: 2%;
        margin-top: 120%;
        /* border-color: aliceblue;
        border-style: solid; */
        font-size: smaller;
        overflow:auto;
        overflow: scroll-x;
       
       
    }
    

    
    button{
      
     
    }
    
    .delete{
        color: red;
    }

  }