<div class="d-flex justify-content-end">

    
 
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search"  aria-label="Search" placeholder="Search users" >
        
    </form>
     
    <table class="table table-dark" >
    
        <thead >
          
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Job</th>
            <th scope="col">Phone</th>
            <th scope="col" ngClass="delete">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of data ">
          <tr>
            <th scope="row">1</th>
            <td>{{item.FirstName}}</td>
            <td>{{item.LastName}}</td>
            <td>{{item.Email}}</td>
            <td>{{item.Job}}</td>
            <td>{{item.Phone}}</td>
            <button class="btn btn-danger">Delete</button>
           
          </tr>
   
        </tbody>
        
      </table>
    
</div>