div {
    max-width: 1520px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
       position:fixed;
       top: 33%;
       left: 32%;
   
  }
  
  table {
    width: 100%;
    height: 100%;
    background-color: black;
   font-size:large;
   
 
    
  }



button {
  font-size: 100%;
  width: 100%;
}

.delete {
  color: red;
}

@media (width: 1920px) {
  div {
    max-width: 1520px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
       position:fixed;
       top: 28%;
       left: 38%;
   
  }
}
